
<input type="text" name="country" id="autocomplete"/>
<div id="selection"></div>

<script>
var countries = [
   { value: 'Andorra', data: 'AD' },
   { value: 'Zimbabwe', data: 'ZZ' }
];

$('#autocomplete').autocomplete({
    lookup: countries,
    //onSelect: function (suggestion) {
    //    alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
    //}
});

</script>
