<html>
  <head>
  <title>My Title</title>

<style type="text/css" title="currentStyle">
    @import "/DataTables-1.9.4/media/css/demo_page.css";
    @import "/DataTables-1.9.4/media/css/demo_table.css";
</style>

  <script type="text/javascript" language="javascript" src="/DataTables-1.9.4/media/js/jquery.js"></script>
  <script type="text/javascript" language="javascript" src="/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>

</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" style="background-color:white;">
  <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffcc">
    <tr>
      <td width="100%"><font face="Arial Black" size="6" color="#000000">CardioDx, Inc.</font></td>
    </tr>
  </table>

<table border="0" width="100%" bgcolor="#000000" cellspacing="0" cellpadding="0">
  <tr>
    <td width="90%">
      <font color="#FFFFFF" face="Arial" size="2"><b>WWW.CARDIODX.COM</b></font>
    </td>
    <td>
      <font color="#FFFFFF" face="Arial" size="2">Setup | Login | Logout </font>
    </td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="6%" bgcolor="#ffffee" valign="top">&nbsp;
      <p style="margin-left: 10">
        <b><font face="Arial" size="2" color="#000000">
          LINK 1<br>
          LINK 2<br>
          LINK 3<br>
          LINK 4<br>
          LINK 5<br>
          LINK 6
        </font></b>
      </p>
    </td>
    <td width="61%" valign="top">
      <blockquote>
        <p><br>

				<%= yield %>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </blockquote>
  </tr>
</table>
<table border="0" width="100%" bgcolor="#000000" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%"><font size="1">&nbsp;</font></td>
  </tr>
</table>
<p align="center"><font face="Arial" size="1">© COPYRIGHT 2001 ALL RIGHTS RESERVED CARDIODX.COM</font></td>

</body>

</html>

