/* Rich Text Editor Module */
.tableNoBorder 				{border:none;font-family:Arial, Verdana, Helvetica, sans-serif;color:#333333;font-size:10pt;}
.tableSingleBorder 			{border:1px solid #000000;font-family:Arial, Verdana, Helvetica, sans-serif;color:#333333;font-size:10pt;}
.tableDoubleBorder 			{border:2px solid #000000;font-family:Arial, Verdana, Helvetica, sans-serif;color:#333333;font-size:10pt;}
.clickToEnlarge 			{font-family:Arial, Helvetica, sans-serif;font-size:10px;}

/* Calendar Module */
.monthback					{background-color:#CCCCCC;vertical-align:top;}
.monthon					{background-color:#FFFFFF;text-align:right;vertical-align:top;}
.monthonSel					{background-color:#FFFFFF;text-align:right;vertical-align:top;/*cursor:hand;*/}
.monthoff					{background-color:#F2F2F2;text-align:right;vertical-align:top;}
.monthday					{font-weight:bold;vertical-align:top;text-align:center;}
.monthtoday					{background-color:#4488FF;text-align:right;vertical-align:top;}	
.month						{font-weight:bold;background-image: url(images/img_headermonth.jpg);}
.monthmedium				{background-color:#CCCCCC;}
.monthlight 				{background-color:#EEEEEE;}
.monthoutline				{background-color: #A1A5A9;}
.weekbdr 					{background-color:#FFFFFF;border-top:1px dashed #CCCCCC;border-right:1px solid #CCCCCC;padding-left:5px;font:11px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.weekbdrSel 				{background-color:#FFFFFF;border-top:1px dashed #CCCCCC;border-right:1px solid #CCCCCC;cursor:hand;}
.timebdr 					{background-color:#FFFFFF;border-top:1px dashed #CCCCCC;}
.weekday 					{background-color:#EEEEEE;font-weight:bold;vertical-align:top;text-align:center;}
.weektoday					{background-color:#4488FF;text-align:center;font-weight:bold;vertical-align:top;}

/* Product Catalog Module */
.p1 						{padding-top:5px;border-top:1px solid #D5D5D5;border-right:1px solid #9F9F9F;border-bottom:1px solid #9F9F9F;border-left:1px solid #D5D5D5;background-color:#FFF;width:88px;height:120px;text-align:center}
.p2 						{padding-top:10px;border-top:1px solid #D5D5D5;border-right:1px solid #9F9F9F;border-bottom:1px solid #9F9F9F;border-left:1px solid #D5D5D5;background-color:#FFF;width:165px;height:234px;text-align:center}
.p3 						{padding-top:2px;border-top:1px solid #D5D5D5;border-right:1px solid #9F9F9F;border-bottom:1px solid #9F9F9F; border-left:1px solid #D5D5D5;background-color:#FFF;width:61px;height:55px;text-align:center}
.price 						{color:#C60;font-weight:bold}
.qty 						{border-top:1px solid #D5D5D5;border-bottom:1px solid #9F9F9F;border-right:1px solid #9F9F9F;border-left:1px solid #D5D5D5;width:40px;font:12px Arial, Helvetica, sans-serif}
.stepsel 					{color:#C60;font-weight:bold}
.p31 						{padding-top:2px;border-top:1px solid #D5D5D5;border-right:1px solid #9F9F9F;border-bottom:1px solid #9F9F9F;border-left:1px solid #D5D5D5;background-color:#FFF;width:61px;height:75px;text-align:center}
.stepsel 					{color:#C60;font-weight:bold}
.stepsel a:link 			{text-decoration:none;color:#C60;}
.stepsel a:visited 			{text-decoration:none;color:#C60;}
.stepsel a:hover 			{text-decoration:underline;color:#C60;}
.stepsel a:active 			{text-decoration:none;color:#C60;}
.step 						{color:#000;}
.step a:link 				{text-decoration:none;color:#000;}
.step a:visited 			{text-decoration:none;color:#000;}
.step a:hover 				{text-decoration:underline;color:#000;}
.step a:active 				{text-decoration:none;color:#000;}
.prodform 					{font:12px Arial, Helvetica, sans-serif;width:230px}
.surveyform 				{font:12px Arial, Helvetica, sans-serif;width:338px}
.frmselect 					{font:12px Arial, Helvetica, sans-serif;width:140px;margin-bottom:2px}
.quoteline 					{background:url(images/img_quoteStepLine.gif)}

/* Search XHTML Module */
#hbsearch					{}

/* Overview XHTML Module */
#oleft p 					{text-align:left;}
#oleft 						{float:left;width:49%;}
#oright p 					{text-align:left;}
#oright ul, #oleft ul 		{list-style-type:none;margin-top:1em;margin-left:12px;padding:0px;}
#oright li, #oleft li 		{}
#oright 					{float:right;width:49%;}
#ofull 						{float:left;width:100%;margin-bottom:20px;}
#ofull p					{margin-top:0px;}
#oclear 					{clear:both;margin-bottom:20px;}

/* Overview XHTML Module NEW */
#over 					{float:left;}
#over h4 				{font-size:12px;margin-bottom:8px;margin-top:0px;background-color:#EDEDEF;padding:3px 3px 4px 7px;color:#02407B;}
#over a 				{color:#02407B;}
#over h4 a 				{text-decoration:none;}
#over span.overimgrht 	{margin:0px 0px 15px 15px;float:right;}
#over span.overimglft 	{margin:0px 15px 15px 0px;float:left;}
#over div.overlistrow p {margin-top:0px;margin-left:7px;}
#over div.overlistcolrht, #over div.overlistcollft  {width:47%; float:left;}
#over div.overlistcollft{margin-right:23px;}
.overclr 				{clear:both;position:relative;margin-top:0px;height:20px;}
#clearall 				{clear:both;}

/* Pagination XHTML Top Module */
#hbpagestop 				{font:bold 9px Tahoma;text-align:right;}
#hbpagestop ul 				{margin:0px;padding:0px;}
#hbpagestop ul li 			{list-style-type:none;display:inline;}
#hbpagestop ul li a 		{color:#666;}
#hbpagestop p 				{font:normal 10px Verdana;color:#666;margin-top:0px;padding-top:5px;}
#hbpagestop ul li a:hover 	{color:#000;}
#hbpagestop ul li em 		{list-style-type:none;display:inline;font:bold 9px Tahoma;color:#000;letter-spacing:-1px;margin-right:3px;}
#hbpagestop ul li a.prev 	{list-style-type:none;text-transform:uppercase;text-decoration:none;display:inline;border-right:1px solid #666;padding-right:4px;margin-right:2px;}
#hbpagestop ul li a.next 	{list-style-type:none;text-transform:uppercase;text-decoration:none;display:inline;border-left:1px solid #666;padding-left:5px;margin-left:2px;}

/* Pagination XHTML Bottom Module */
#hbpagesbot 				{font:bold 9px Tahoma;text-align:right;}
#hbpagesbot ul 				{margin:0px;padding:0px;}
#hbpagesbot ul li 			{list-style-type:none;display:inline;}
#hbpagesbot ul li a 		{color:#666;}
#hbpagesbot p 				{font:normal 10px Verdana;color:#666;margin-bottom:0px;padding-bottom:5px;}
#hbpagesbot ul li a:hover 	{color:#000;}
#hbpagesbot ul li em 		{list-style-type:none;display:inline;font:bold 9px Tahoma;color:#000;letter-spacing:-1px;margin-right:3px;}
#hbpagesbot ul li a.prev 	{list-style-type:none;text-transform:uppercase;text-decoration:none;display:inline;border-right:1px solid #666;padding-right:4px;margin-right:2px;}
#hbpagesbot ul li a.next 	{list-style-type:none;text-transform:uppercase;text-decoration:none;display:inline;border-left:1px solid #666;padding-left:5px;margin-left:2px;}
							 
/* Printer Friendly Module */	
#btnprint 					{font: 10px Tahoma, Arial, Serif;background:#FFF top left url(images/img_searchback.gif) repeat-x;width:55px;text-transform:uppercase;border-top:1px solid #D5D5D5;border-bottom:1px solid #A7A7A7;height:19px;border-left:1px solid #D5D5D5;border-right:1px solid #A7A7A7;cursor:pointer;display:inline;margin-right:2px;}
#btnclose 					{font: 10px Tahoma, Arial, Serif;background:#FFF top left url(images/img_searchback.gif) repeat-x;width:55px;text-transform:uppercase;border-top:1px solid #D5D5D5;border-bottom:1px solid #A7A7A7;height:19px;border-left:1px solid #D5D5D5;border-right:1px solid #A7A7A7;cursor:pointer;display:inline;}			 
#printheader 				{}
#printlogo 					{float:left;}
#printbuttons 				{float:right;margin-top:35px;width:125px;text-align:right;}
#printcontent 				{clear:both;margin-top:1em;padding-top:1em;border-top:1px solid #999;border-bottom:100px solid #EEE;margin-bottom:2em;font:11px Verdana, Arial, Helvetica, sans-serif;line-height:16px;}
#printcontent small 		{color:##666;}
#printcontent h1 			{margin-top:5px;font-size:16px;font:bold 16px Verdana, Arial, Helvetica, sans-serif;}
#printcontent h2 			{font:bold 14px Verdana, Arial, Helvetica, sans-serif;}
#printcontent h3 			{font:bold 12px Verdana, Arial, Helvetica, sans-serif;}
#printcontent h4 			{font:bold 11px Verdana, Arial, Helvetica, sans-serif;}
#printcontent h5 			{font:normal 11px Verdana, Arial, Helvetica, sans-serif;}
#printcontent h6 			{font:normal 11px Verdana, Arial, Helvetica, sans-serif;}
#printfooter 				{font:11px Verdana, Arial, Helvetica, sans-serif;text-align:center;margin-top:-125px !important;margin-top:-135px;padding:1em;line-height:16px;}

/* Hot Banana PWR Search Module */
#hbsrchmod					{margin:0px;padding:0px;margin-bottom:2em;}
#hbsrchkey					{line-height:19px;font: 11px Verdana, Tahoma, Serif;width:250px;margin-top:0px !important;margin-top:-1px;padding:2px 2px 2px 2px;border-top:1px solid #D5D5D5;border-bottom:1px solid #A7A7A7;border-left:1px solid #D5D5D5;border-right:1px solid #A7A7A7;margin-right:-2px;}
#hbsrchsel					{line-height:19px;font: 11px Verdana, Tahoma, Serif;width:125px;margin-top:0px !important;margin-top:-1px;border-top:1px solid #D5D5D5;border-bottom:1px solid #A7A7A7;border-left:1px solid #D5D5D5;border-right:1px solid #A7A7A7;margin-right:-2px;}
#hbsrchbtn 					{font: 10px Tahoma, Arial, Serif;background:#FFF top left url(images/img_searchback.gif) repeat-x;width:55px;text-transform:uppercase;border-top:1px solid #D5D5D5;border-bottom:1px solid #A7A7A7;height:19px;border-left:1px solid #D5D5D5;border-right:1px solid #A7A7A7;cursor:pointer;}
.clr 						{clear:both;position:relative;margin-top:0px;}

/* Hot Banana PWR Category Module */
#hbcatmod h5 				{font-size:inherit;margin-bottom:5px;margin-top:0px;}
#hbcatmod img.hbcatrht 		{margin:5px 0px 5px 15px;float:right;}
#hbcatmod img.hbcatlft 		{margin:5px 15px 5px 0px;float:left;}
#hbcatmod div.hbcatrht 		{margin:25px 0px 5px 15px;float:right;}
#hbcatmod div.hbcatrht75 	{margin:5px 0px 5px 90px;}
#hbcatmod div.hbcatrht150 	{margin:5px 0px 5px 165px;}
#hbcatmod div.hbcatrht225 	{margin:5px 0px 5px 240px;}
#hbcatmod div.hbcatrht300 	{margin:5px 0px 5px 315px;}
#hbcatmod div.hbcatlft 		{margin:5px 15px 5px 0px;float:left;}
#hbcatmod div.hbcatlft75 	{margin:5px 90px 5px 0px;}
#hbcatmod div.hbcatlft150 	{margin:5px 165px 5px 0px;}
#hbcatmod div.hbcatlft225 	{margin:5px 240px 5px 0px;}
#hbcatmod div.hbcatlft300 	{margin:5px 315px 5px 0px;}
#hbcatmod img.hbcatinl 		{margin:5px 0px 5px 0px;}
#hbcatmod div.hbcatcolrht 	{width:48%; float:right;}
#hbcatmod div.hbcatcollft 	{width:48%; float:left;}

/* Hot Banana PWR Listing Module */
#hblistmod h5 				{font-size:inherit;margin-bottom:0px;margin-top:0px;}
#hblistmod ul				{margin-left:0px;margin-top:0px;padding:0px;margin-bottom:2em;}
#hblistmod ul li			{list-style-type:none;}
#hblistmod img.hblistrht 	{margin:0px 0px 15px 15px;float:right;}
#hblistmod img.hblistlft 	{margin:0px 15px 15px 0px;float:left;}
#hblistmod div.hblistrht 	{margin:0px 0px 0px 0px;float:right;}
#hblistmod div.hblistrht75 	{margin:0px 0px 15px 90px;}
#hblistmod div.hblistrht150 {margin:0px 0px 15px 165px;}
#hblistmod div.hblistrht225 {margin:0px 0px 15px 240px;}
#hblistmod div.hblistrht300 {margin:0px 0px 15px 315px;}
#hblistmod div.hblistlft 	{margin:0px 0px 0px 0px;float:left;}
#hblistmod div.hblistlft75 	{margin:0px 90px 15px 0px;}
#hblistmod div.hblistlft150 {margin:0px 165px 15px 0px;}
#hblistmod div.hblistlft225 {margin:0px 240px 15px 0px;}
#hblistmod div.hblistlft300 {margin:0px 315px 15px 0px;}
#hblistmod img.hblistinl 	{margin:0px 0px 15px 0px;}
#hblistmod div.hblistcolrht {width:48%; float:right;}
#hblistmod div.hblistcollft {width:48%; float:left;}
#hblistmod div.hblistcollft3 {width:31%; float:left;}
#hblistmod div.hblistcolcntr3 {width:31%; float:center;}
#hblistmod div.hblistcolrht3 {width:31%; float:right;}

/* Hot Banana PWR Details Module */
#hbdetmod h5 				{font-size:inherit;margin-bottom:0px;margin-top:0px;}
#hbdetmod ul				{margin-left:0px;margin-top:2em;padding:0px;margin-bottom:2em;}
#hbdetmod ul li				{list-style-type:none;}
#hbdetmod img.hbdetrht 		{margin:0px 0px 15px 15px;float:right;}
#hbdetmod img.hbdetlft 		{margin:0px 15px 15px 0px;float:left;}
#hbdetmod img.hbdetinl 		{margin:0px 0px 0px 0px;}
