<!DOCTYPE html>
<html>
<head>
	<title>jQuery Live Search Plugin | Enigma.cc</title>
	<%= stylesheet_link_tag 'application' %>
	<script src="/assets/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/assets/jquery.tmpl.min.js" type="text/javascript"></script>
	
	<!-- Load this externally to ensure we're playing with the latest version -->
	<script src="https://raw.github.com/zykadelic/jquery-livesearch/master/jquery.livesearch.min.js" type="text/javascript"></script>
</head>
<body>
	<%= yield %>
	<p>For the source code to this example, visit <a href="https://github.com/zykadelic/jquery-livesearch-demo" target="_blank">https://github.com/zykadelic/jquery-livesearch-demo</a></p>
</body>
</html>
